extends include/layout.pug

block vars
    - var title = "クルマのシッポ";

block body
    div(class="container")
        div(class="center row")
            img(class="responsive-img", src="static/logo.png")
            h1(class="header teal-text text-lighten-2") #{title}
            h5(class="header col s12 light") coming soon...