doctype html

block vars

html(lang = "ja", style="background: #c0c0c0; min-width: 1085px")
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")

        title #{title}
    body
        block body
        include props/footer.pug
